:root {
  --primary: #fff1ea;
  --blokada-orange: #fe5810;
  --white: #fdfdfd;
  --border: #cbd8ef;
  --font-color-1: #2e3b52;
  --grey-1: #f5f7fa;
  --grey-2: #96a5c0;
}

/* Button Colors and Styles */

.btn--primary--solid {
  background-color: var(--primary);
  color: var(--blokada-orange);
  border: none;
  border-radius: 6px;

  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}

.btn--primary--solid:hover {
  background-color: var(--blokada-orange);
  color: var(--white);
}

.btn--primary--outline {
  background-color: var(--white);
  border: solid 1px var(--border);
  border-radius: 6px;
  color: var(--font-color-1);

  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.btn--primary--outline:hover {
  background-color: var(--grey-1);
}

.btn--primary--inactive {
  background-color: var(--grey-1);
  border: solid 1px var(--border);
  border-radius: 6px;
  color: var(--grey-2);

  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.btn--primary--inactive:hover {
  cursor: context-menu;
}

.btn--secondary--inactive {
  background-color: var(--white);
  border: solid 1px var(--border);
  border-radius: 6px;
  color: var(--font-color-1);

  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

/* Button Size */

.btn--small {
  height: 44px;
}

.btn--medium {
  height: 44px;
  width: 40%;
}

.btn--large {
  height: 44px;
  width: 100%;
}