.form-style {
  background-color: #fdfdfd;
  border: solid 1px #cbd8ef;
  border-radius: 6px;
  color: #2e3b52;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;

  height: 44px;
  width: 100%;
}