.verify-account {
  width: 460px;
  margin: 30px auto 0 auto;
  border-radius: 4px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.95);

}

.login-title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c374c;
}

.subtitle-1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e3b52;
}

.subtitle-2 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #96a5c0;
}

.blokada-logo {
  display: block;
  height: 102px;
  width: 169px;
  margin: 25px auto 0 auto;
}

.ico-acc {
  height: 70px;
  margin-left: 30px;
  margin-top: 7px;
}

.progress-bar {
  width: 100%;
  max-width: 400px;
	height: 4px;
  background-color: #ffd7c3;
  border-radius: 2px;
  margin-left: 15px;
}

.progress-bar > span {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  background-color: #fe5810;
  border-radius: 2px;
  margin-left: 25%;
}