.acc-details {
  width: 500px;
  margin: 100px auto 0 auto;
  border-radius: 4px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c374c;
}

.subtitle-3 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #96a5c0;

  }

  .test { 
  margin: 0 0 7px 0;
  }

  .subtitle-2 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2e3b52;
  }

  .row-placement {
    margin-left: 15px;
    margin-top: 20px;
  }

  .box-placement-1 {
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 10px;
  }

  .box-placement-2 {
    padding: 0;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 34px;
  }

  .line-placement-1 {
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 30px;
  }

  .ico-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 45px;
    padding: 0;
  }

  .ico-acc {
    height: 70px;
  }

  .ico-hide {
    height: 20px;
  }

  .wiregurad-text-1{
    object-fit: contain;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.05px;
    color: #2e3b52
  }

  .wiregurad-text-2{
    font-family: Poppins;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #96a5c0;
    margin-top: 8px;
  }

  .btn-placement-99 {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
