.App {
  max-width: 500px;
  margin: 100px auto 0 auto;
  border-radius: 4px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.container {
  padding: 0;
}

.title {
  font-family: Poppins;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c374c;

  padding-top: 20px;
  margin-left: 30px;
}

.text-1 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e3b52;
  margin-left: 10px;
  margin-top: 12px;
}

.text-2 {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  text-align: center;
  color: #fe5810;
}

.window-1 {
  width: auto;
  height: 44px;
  border-radius: 6px;
  border: solid 1px #cbd8ef;
  background-color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 27px;
}

.window-2 {
  width: auto;
  height: 44px;
  border-radius: 6px;
  border: solid 1px #cbd8ef;
  background-color: #ffffff;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.window-3 {
  max-width: 380px;
  height: 44px;
  border-radius: 6px;
  border: none;
  background-color: #fff1ea;
  margin-left: 30px;
  margin-top: 20px;
}

.badge-1 {
  border-radius: 4px;
  background-color: #fe5810;
  height: 20px;
  width: 80px;
  margin-bottom: 8px;
}

.badge-text {

  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.test {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}